@charset "ISO-8859-1";

@media screen and (min-width:1102px) and (max-width: 1497px){
	
	.loginH{
		position:relative;
		top:-4px;
		left:-600px;
	}
	
	.containerMax{
		margin-bottom:32%;
	}
	
	.product{
		float:left;
    	background-color: white;
    	height:220px;
   		width:220px;
   	 	-moz-border-radius: 50px;
    	-webkit-border-radius: 50px;
    	border-radius: 50px;
    	margin:3%;
    	padding:3%;
    	padding-top:1%;
	}
	
	.TitleProduct{
    	text-align: center;
    	margin-top:0%;
    	margin-bottom:0%;
    	padding-top:2.5%;
    	padding-bottom:1%;
    	font-size:15px;
	}

	.ImageProduct{
    	display:block;
    	margin:0px auto;
    	text-align:center;
    	height:180px;
    	width:180px;
	}

	.DivPrezzo{
    	margin-bottom: solid white 2px;
    	margin-left: solid white 2px;
    	margin-right: solid white 2px;
    	background-color: #57A773;
    	height: 25px;
    	font-weight:bold;
    	font-size:130%;
    	-moz-border-radius: 50px;
    	-webkit-border-radius: 50px;
    	border-radius: 50px;
	}
	
}