@charset "ISO-8859-1";
body{
	margin:0%;
	background-color:white;
	font-family:"Roboto";
	font-variant:small-caps;
	text-transform:uppercase;
}

.options{
	margin:0 2px 0 10px;
	position:relative;
	width:30px;
}

#optionsMenu{
	visibility:hidden;
	position:absolute;
	top:100px;
	padding:3px;
	border: solid 2px #384d54;
	background-color:white;
	-moz-border-radius: 8px;
  	-webkit-border-radius: 8px;
  	border-radius: 8px;
  	border-spacing: 0 0.4em;
  	z-index:2;
  	font-size:13px;
  	width:165px;
  	user-select: none;
  	color:#57A773
}

.slogan{
	color:#ebeded;
	font-size:150%;
}

.sezione{
	color:#57A773;
	font-size:150%;
}

.sloganDiv{
	text-align:center;
	background-color:#57A773;
	border-bottom:double #ebeded 4px;
}

.formH{
	display:flex;
}

.search{
	margin:1px 5px 0 1px;
}

.divH{
	background-color: #57A773;
	height: 100px;
	width:100%;
	display:flex;
	justify-content:space-between;
	align-items:center;
	border-bottom:solid white 2px;
}

.labelH{
	font-family:"Roboto";
	font-variant:"small-caps";
}

.inputH{
	height:24px;
	-moz-border-radius: 8px;
  	-webkit-border-radius: 8px;
  	border-radius: 8px;
}

.logoH{
	position: absolute;
	left:20px;
	top:42px;
  	object-fit: contain;
  	height:70px;
  	width:60px;
}

.loginH{
	position:absolute;
	right:20px;
	top:50px;
	width:60px;
}

.userMenu{
	visibility:hidden;
	position:absolute;
	right:2px;
	top:110px;
	padding:3px;
	border: solid 2px #384d54;
	background-color:#ebeded;
	-moz-border-radius: 8px;
  	-webkit-border-radius: 8px;
  	border-radius: 8px;
  	border-spacing: 0 0.4em;
  	z-index:2;
  	font-size:20px;
}

.userMenu tr td{
	text-align:center;
	background-color:#57A773;
	border:solid 1px #384d54;
	-moz-border-radius: 8px;
  	-webkit-border-radius: 8px;
  	border-radius: 8px;
}

.menuA{
	color:#ebeded;
}
/*CSS PER DIMENSIONE <900*/
@media screen and (max-width: 900px){

.labelH{
	
	font-family:"Roboto";
	font-variant:"small-caps";
}

.logoH{
	position: absolute;
	left:20px;
	top:42px;
  	object-fit: contain;
  	height:70px;
  	width:60px;
}

.loginH{
	position:absolute;
	right:20px;
	top:50px;
	width:60px;
}
}