@charset "ISO-8859-1";
/*900px*/
@media screen and (max-width: 900px){

.formH{
	display:block;
	position:relative;
	top:15%;
}

.search{
	margin:1px 0 0 1px;
	position:relative;
	top: -84px;
	left:100%;
	width:25px;
}

.labelH{
	
	font-family:"Roboto";
	font-variant:"small-caps";
}

.inputHMin{
	position:relative;
	left:5%;
}

.logoH{
	position: absolute;
	left:20px;
	top:42px;
  	object-fit: contain;
  	height:70px;
  	width:60px;
}

.loginH{
	position:absolute;
	right:20px;
	top:50px;
	width:60px;
}
}